*.class

# Package Files #
*.jar
*.war
*.ear
*~
.DS_Store
.project
target/
*/target/
*/.forge_settings
*/.settings/
*/*/.settings/
*/bin/
*.prefs
*/.classpath/
*/*/.classpath/
adpharma/*/.classpath
*/*/.forge_settings

